[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ecoval"]
	path = ecoval
	url = https://github.com/cran/ecoval
[submodule "streambugs"]
	path = streambugs
	url = https://gitlab.com/neleschuwirth/streambugs
